.container {
  width: 280px;
  color: #1479a1;
  background-color: #e6f0ff; /* Change this to your desired blueish color */
  padding: 20px;
  height: 1000px;
}

.title {
  font-size: 14px;
  font-weight: bold;
  padding: 8px;
}

.textbox {
  width: 100%;
  font-size: 12px;
  margin: 0;
  padding: 0px 2px;
}

.textbox:focus {
  outline: 0;
  border-color: #66afe9;
}

.hidden {
  display: none;
}

select {
  width: 100%; /* Full width */
  padding: 10px; /* Padding for appearance */
  margin: 8px 0; /* Margin to separate from other elements */
  box-sizing: border-box; /* Include padding and border in width */
  border: 1px solid #ccc; /* Border color */
  border-radius: 4px; /* Rounded corners */
  appearance: none; /* Remove default appearance */
  font-size: 16px; /* Font size */
}

option {
  padding: 8px; /* Padding for each option */
  font-size: 14px; /* Font size for options */
  color: #333; /* Text color for options */
}

/* Style for the focused or active state of the select */
select:focus {
  border-color: #66afe9; /* Border color when focused */
  outline: none; /* Remove default outline */
}


.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  display: none;
}

.slider {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:checked + .slider:before {
  transform: translateX(26px);
}
